<div class="sticky bg-white rounded-lg w-full flex flex-col justify-between px-4 py-8 h-full">
    <div class="flex gap-x-2">
        <i class="fa-solid fa-house flex items-center bg-primary text-white rounded-lg p-2"></i>
        <span class="font-bold  text-lg">GrowthView</span>
    </div>
    <div class=" gap-y-6 flex flex-col text-md font-semibold ">
        <div class="bg-primary py-3 rounded-md gap-x-4 text-white px-2 flex justify-center">
            <i class="fa-solid fa-house flex items-center"></i>
            Dashboard
        </div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house  flex items-center"></i>Sales Analytics</div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house flex items-center"></i>Products</div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house flex items-center"></i>Orders</div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house flex items-center"></i>Messages</div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house flex items-center "></i>Customers</div>
        <div class="px-4 flex gap-x-4"> <i class="fa-solid fa-house flex items-center"></i>Settings</div>
    </div>
    <div class="bg-green-300 flex flex-col gap-y-3 rounded-xl px-2 py-4 justify-center items-center">
        <i class="fa-solid fa-download text-white"></i>
        <span class="text-whiter text-center text-white text-sm">New update available click to update</span>
        <div class=" text-primary bg-white rounded-lg w-fit px-4">
            Update
        </div>
    </div>
    <div class="flex gap-x-4 justify-center font-semibold ">
        <i class="fa-solid fa-house flex items-center"></i>
        Log Out
    </div>

</div>