<div class="bg-white sticky rounded-xl py-3 px-6 mb-3">
    <div class="flex space-x-10 items-center">
        <div class="flex-none ">
            <span class="text-lg font-bold">Hello Gokul</span> <br/>
            <span class="text-xs font-semibold">Welcome back!</span>
        </div>
        <div class="flex items-center border border-gray-300 rounded-md p-2 grow lg:px-5 px-auto">
            <div class="flex-shrink-0">
                <i class="fas fa-search text-gray-500"></i>
            </div>
            <div class="flex-grow text-center mx-2">
                <input type="text" placeholder="Search here" class="outline-none w-full">
            </div>
            <div class="flex-shrink-0">
                <i class="fas fa-microphone text-gray-500"></i>
            </div>
           
        </div>
         <div>
                <i class="far fa-sun text-yellow-500"></i> <br/>
                <!-- <i class="fa fa-toggle-on" aria-hidden="true"></i> -->
                <span class="text-xs font-semibold">Light Mode</span>
            </div>
            <div >
                 <i class="fas fa-comment text-gray-500"></i>    
            </div>
             <div >
                 <i class="fas fa-bell text-gray-500"></i>    
            </div>
           
            <div >
                <div class="flex space-x-2">
                    <i class="fas fa-flag text-white rounded-full bg-orange-700 p-1"></i>
                     <span class="text-xs font-semibold my-auto">Eng (IND)</span>
                </div>
                
            </div>
            <div >
 <i class="fas fa-chevron-down text-gray-500"></i>
            </div>
            <div>
                <img src="../../assets/images/profile.jpeg" alt="profile image" class="w-10 h-10 rounded-lg">
            </div>
             <div >
 <i class="fas fa-chevron-down text-gray-500"></i>
            </div>
    </div>
</div>
