<div class="bg-white w-full grid grid-cols-2  flex sticky rounded-xl py-3 px-6 mb-3">
    <div class="flex items-center justify-between ">
        <div class="flex flex-col w-1/2">
            <span class="text-lg font-bold">Hello Gokul</span>
            <span class="text-xs font-semibold">Welcome back!</span>
        </div>
        <div class="flex items-center border border-primary rounded-md p-2 w-full">
            <div class="flex-shrink-0">
                <i class="fas fa-search text-primary"></i>
            </div>
            <div class="flex-grow text-center mx-2">
                <input type="text" placeholder="Search here ..."
                    class="outline-none w-full placeholder:text-gray-500 font-semibold">
            </div>
            <div class="flex-shrink-0">
                <i class="fas fa-microphone text-primary"></i>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-end gap-x-12">
        <div class="items-center md:pl-4 cursor-pointer">
            <i class="far fa-sun text-yellow-500"></i> <br />
            <span class="text-xs font-semibold">Light Mode</span>
        </div>
        <div class="flex items-center cursor-pointer">
            <i class="fa-regular fa-lg fa-comment-dots text-lightBlue bg-gray-100 py-4 px-2 rounded-md"></i>
        </div>
        <div class="flex items-center cursor-pointer">
            <i class="fa-regular fa-lg fa-bell text-primary bg-gray-100 py-4 px-2 rounded-md"></i>
        </div>

        <div class="flex items-center gap-x-2 cursor-pointer">
            <i class="fas fa-flag text-white rounded-full bg-orange-700 p-1"></i>
            <span class="text-xs font-semibold my-auto">Eng (IND)</span>
            <i class="fas fa-chevron-down text-gray-500"></i>
        </div>

        <div class="flex items-center gap-x-2 cursor-pointer">
            <img src="../../assets/images/profile.jpeg" alt="profile image" class="w-10 h-10 rounded-lg">
            <i class="fas fa-chevron-down text-gray-500"></i>
        </div>

    </div>
</div>